---
layout: default
---

<article class="post">
  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="post-tags">
    <i class="fas fa-tag"></i>&nbsp;
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  <div class="page-navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {% if page.previous.title != '' %}{{page.previous.title}}{% else %}Previous post{% endif %}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{% if page.next.title != '' %}{{page.next.title}}{% else %}Next post{% endif %} &raquo;</a>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  
</article>
